.loader {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: none;
    background: url('/images/loading.gif') 50% 50% no-repeat rgb(0 0 0 / 21%);
}